@model ControleDeEstoque.ViewModels.TipoPagamentoViewModel

@{
    ViewBag.Title = "Formas Pagamento";
}

<h2>Informações da forma de pagamento</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TipoPagamentoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
